* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.card-aluno {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(158, 158, 158);
}

h1 {
  color: white;
  text-align: center;
  padding: 20px;
}

.card-aprovado {
  
  width: 200px;
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: rgb(192, 190, 190);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
  color: blue;
}

.card-reprovado {
  
  width: 200px;
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: rgb(192, 190, 190);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(192, 190, 190);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
  max-width: 200px;
  margin: 0 auto;
}

input {
  padding: 10px;
  width: 80%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
